.card {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
  }

  .card-header {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .card-body {
    margin-bottom: 5px;
  }

  .card-footer {
    font-size: 0.8em;
    color: #888;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }